<!-- <ng-container *ngFor="let config of configuracion" [ngSwitch]="config.tipo">
    <div *ngSwitchCase="'barra'">
        <app-barras></app-barras>
    </div>
    <div *ngSwitchCase="'tabla'">
        <app-tabla></app-tabla>
    </div>
</ng-container> -->

<comic-reader src="https://example.com/whiz-comics-01.cbz"></comic-reader>